#head {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	background: white;
	z-index: 1;
}
#separator {
	clear: both;
}
#newsImage {
	height: 100px;
	width: auto;
	border-radius: 5%;
	float: right;
	overflow: auto;
}
#newsImage:hover {
	border-radius: 10%;
	z-index: 2;
}
#logoPlace {
	float: left;
	overflow: auto;
}
#logo {
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
}
#searcher {
	float: left;
	width: 460px;
	margin-left: 10px;
}
#inputWords {
	width: 400px;
	height: 25px;
	padding-left: 5px;
}
#submitButton {
	border: none;
	background: transparent;
	cursor: pointer;
}
#imgSearch {
	position: relative;
	max-width: 25px;
	max-height: auto;
	margin-left: 0px;
}
#credit {
	position: absolute;
	top: 10px;
	right: 15px;
}
#gocode {
	max-width: 100px;
	max-height: auto;
}